body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 2rem;
  background-color: rgb(255, 255, 255);
  color: #333;
}
h1 {
  color: #2c3e50;
}
#output {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  background: #fff;
  text-align: center;
}
.energyChartElements{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -ms-transform:scale(0.5);
  transform:scale(0.5);
}
.hide{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.show{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
#energyGenLabel{
  font-size: 40px;
  margin: 20px;
  font-weight: bold;
}
#energyChartContainer{
  margin: auto;
  flex-shrink: 0;
  margin:20px;
  text-align:center;
}
#chartToggleButtons{
  padding: 20px;
  background-color: rgba(146, 143, 143, 0.121);
  width: fit-content;
  height: fit-content;
  text-align: center;
}
#energyIntervalButtons{
  padding: 10px;
  width: 50%;
  text-align: center;
  margin: auto;
}
#dailyEnergyButton{
  padding: 10px;
  font-size: 1.25rem;
  background-color: hsla(120, 92%, 45%, 0.788);
  border-radius: 8px;
  border: 2px solid hsl(120, 98%, 17%);
  margin:5px;
}
#dailyEnergyButton:hover{
  box-shadow: 3px 3px 6px hsla(120, 91%, 32%, 0.788);
}
#dailyEnergyButton:active{
  opacity:85%;
}
#monthlyEnergyButton{
  padding: 10px;
  font-size: 1.25rem;
  background-color: hsla(120, 92%, 35%, 0.788);
  border-radius: 8px;
  border: 2px solid hsl(120, 98%, 17%);
  margin:5px;
}
#monthlyEnergyButton:hover{
  box-shadow: 3px 3px 6px hsla(120, 91%, 32%, 0.788);
}
#monthlyEnergyButton:active{
  opacity:85%;
}
#yearlyEnergyButton{
  padding: 10px;
  font-size: 1.25rem;
  background-color: hsla(120, 92%, 25%, 0.788);
  border-radius: 8px;
  border: 2px solid hsl(120, 98%, 17%);
  margin:5px;
}
#yearlyEnergyButton:hover{
  box-shadow: 3px 3px 6px hsla(120, 91%, 32%, 0.788);
}
#yearlyEnergyButton:active{
  opacity:85%;
}