body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 2rem;
  background-color: rgb(255, 255, 255);
  color: #333;
}
#everything {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  padding: 25px;
  width: 100%;
  border: solid rgba(88,89,91,255);
  box-shadow: 2px 2px 15px rgb(151, 151, 151);
}
#systemStats{
  display: flex;
  flex-direction:  row;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
#systemStats h2{
  color: rgba(88,89,91,255);
  font-size: clamp(1rem, 3vw, 1.75rem);
  font-weight: bold;
}
#systemStats span{
  color:rgba(145,189,55,255);
  font-size: clamp(0.75rem, 2.5vw, 1.5rem);
  font-weight: bold;
}
#buttonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#buttonRow button {
  background-color: #547bce;
  color: rgb(255, 255, 255);
  padding: clamp(7px, 2.5vw, 14px);
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgb(78, 99, 168);
}
#buttonRow button:hover {
  box-shadow: 3px 3px 6px hsla(241, 81%, 48%, 0.788);
}
#buttonRow button:active {
  opacity: 85%;
}
#titleAndLogo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#camosunLogo {
  height: 100%;
  width: clamp(2rem, 15vw, 17rem);
}

#titleBlock {
  width: 85vw;
}

#title {
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;

}
.popup{
	display : none ;
	position : fixed ;
	z-index : 1000 ;
	left : 0 ;
	top : 0 ;
	width : 100% ;
	height : 100% ;
	overflow : auto ;
	background-color : rgba(0,0,0,0.5) ;
}

.popup-content{
	background-color : #fefefe ;
	margin : 5% auto ;
	padding : 20px ;
	border-radius : 10px ;
	width : 90% ;
	max-width : 1920px ;
	box-shadow : 0 0 15px rgba(0,0,0,0.3) ;
	position : relative ;
}

.popup-content iframe{
	width : 100% ;
	height : 800px ;
	border : none ;
	margin-top : 20px ;
}

.closePopupButton{
	position : absolute ;
	top : 10px ;
	right : 15px ;
	color : #aaa ;
	font-size : 28px ;
	font-weight : bold ;
	cursor : pointer ;
}

.closePopupButton:hover{
	color : #000 ;
}
#energyChartElements,
#powerChartElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  max-width: 100%;
  max-height: 75%;
  gap: 15px;
  padding: 40px;
}
#energyChartElements{
  box-shadow: 2px 2px 15px rgb(194, 194, 194);
}
#powerChartElements{
  box-shadow: 2px 2px 15px rgb(206, 206, 206);

}
#charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  max-width: 2000px;
  margin: auto;
  height: 70vh;
}
.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.background-image1{
  background-image: url('../images/Camosun\ 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 15px rgb(151, 151, 151);
}
.background-image2{
  background-image: url('../images/Camosun\ 2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 15px rgb(151, 151, 151);
}
#energyGenLabel {
  font-size: clamp(0.5rem, 3.5vw, 2.5rem);
  font-weight: bold;
  text-align: center;
}

#energyChartContainer,
#powerChartContainer {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

canvas {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

#chartToggleButtons {
  padding: 20px;
  background-color: rgba(146, 143, 143, 0.121);
  width: fit-content;
  height: fit-content;
  text-align: center;
}

#energyIntervalButtons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  gap: 10px;
}

#dailyEnergyButton {
  padding: clamp(4px, 2vw, 10px);
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  background-color: hsla(120, 92%, 45%, 0.788);
  border-radius: 8px;
  border: 2px solid hsl(120, 98%, 17%);
}

#dailyEnergyButton:hover {
  box-shadow: 3px 3px 6px hsla(120, 91%, 32%, 0.788);
}

#dailyEnergyButton:active {
  opacity: 85%;
}

#weeklyEnergyButton {
  padding: clamp(0px, 2vw, 10px);
  font-size: clamp(0.4rem, 2vw, 1.25rem);
  background-color: hsla(120, 92%, 35%, 0.788);
  border-radius: 8px;
  border: 2px solid hsl(120, 98%, 17%);
}

#weeklyEnergyButton:hover {
  box-shadow: 3px 3px 6px hsla(120, 91%, 32%, 0.788);
}

#weeklyEnergyButton:active {
  opacity: 85%;
}

#monthlyEnergyButton {
  padding: clamp(4px, 2vw, 10px);
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  background-color: hsla(120, 92%, 25%, 0.788);
  border-radius: 8px;
  border: 2px solid hsl(120, 98%, 17%);
}

#monthlyEnergyButton:hover {
  box-shadow: 3px 3px 6px hsla(120, 91%, 32%, 0.788);
}

#monthlyEnergyButton:active {
  opacity: 85%;
}

#powerTimeSliderLabel {
  font-size: clamp(0.5rem, 3.5vw, 2rem);
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#powerSliderElements {
  width: 100%;
  text-align: center;
}

#powerTimeSlider {
  appearance: none;
  width: 90%;
  height: 8px;
  background: rgb(221, 221, 221);
  outline: none;
  border-radius: 5px;
  padding: 0;
}

#powerTimeSlider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: orange;
  border-radius: 50%;
  cursor: pointer;
}